
body {
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  margin-top: 0;
  font-family: 'Mr Dafoe', cursive;
  font-size: 60px;
}

h2 {
  margin: 100px auto;
}
h5 {
  font-size: 20px;
  margin-bottom: 200px;
}

hr {
  border: dotted;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
p {
  font-family: 'Karla', sans-serif;
}

.top-container {
  background-color: white;
  position: relative;
}

.cloud {
  height: 300px;
  width: 800px;
  margin-top: 100px;
}

.middle-container {
  background-color: #d7fffd;
  width: 100%;
}

.bottom-container {
  background-color: #fafba4;
  width: 100%;
  position: absolute;
  padding: 30px auto;
}

.birds-top {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 300px;
  right: 300px;
}

.birds-bottom {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 480px;
  left: 300px;
}

.Christian-img {
  height: 250px;
  width: 250px;
  margin-top: 25px;
}

.contact-me {
padding-bottom: 30px;
}
.hike-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.surf-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.copyright {
  font-size: 12px
  padding: 20px 0px;
}
.btn {
	background-color:#45adc7;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid #347bba;
	display:inline-block;
	color:#ffffff;
  font-family: 'Karla', sans-serif;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px #030303;
}.classname:hover {
	background-color:#00c4ff;
}.classname:active {
	position:relative;
	top:1px;
}
